/*font-family: Open Sans, Arial, sans-serif;*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Slab:wght@100..900&display=swap');

*{
    font-family: "Open Sans", sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
    /*outline:1px solid green;*/
}

h1,h2,h3,h4,h5,h6{
    font-family: "Roboto Slab", serif;
}

body{
    background-color: rgb(255, 250, 242);
  }
  h1{
      padding-top:30px;
      color: rgb(244, 240, 240);
      text-shadow: 10px 5px 7px #222275; 
      font-size: 3rem;
      text-align: center;
  }
  h2{
    color:  #222275;
      font-size: 2rem;
      text-align: center;
  }


.header{
    background-color: #4a9ed3;
    padding:10px;
    list-style: none;
    position:sticky;
    top:0;
    z-index:1000;
    display:flex;
    justify-content: space-between;/*para que queden espaciados*/
    align-items: center;/*para centrar verticalmente*/
    height: 18vh;
    .imgLogo{
        width:200px;
    }
    .navegacion{
        width:50%;
        ul{
            display:flex;
            justify-content: space-evenly;
            list-style: none;
            width:100%;
            li{
                a{
                    text-decoration:none;
                    color:  #222275;
                    font-size: 1.5rem;
                }

            }
            
        }

    }
    
}
/* Estilos para cuando achico la pantalla en el header */
@media screen and (max-width: 768px) {
    .header{
        height: initial;
    }
}
@media screen and (max-width: 768px) {
    .listaItems{
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin: 10px 0;
        font-size: 0.3rem;
    }
}


/*Estilos para el main del index*/

main{
    .principalIndex{
        background-image: url("../assets/img/skytec1.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position:center center;
        height: 80vh;
        text-align: center;
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 20px;
        .contenedorTextoPrincipalIndex{
            display:flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            align-content: center;
            margin:0 auto;
            padding:10px;
            border-radius: 75px;
            text-align: center;
            width: 60%;
            color:  #efeffa;
            backdrop-filter: blur(15px);

            p{
                font-size: 1rem;
                
            }
            a{
                display:inline-block;
                margin-top:20px;
                text-decoration: none;
                color:  #efeffa;
                font-size: 1rem;
                font-weight: bold;
                border:1px solid #222275;
                padding:8px;
                border-radius:5px;
                box-shadow: -10px 0px 35px 12px rgba(0,0,0,0.66);
    
            }
        }
       
    }
    .sectionKits{
        background-color: rgb(208, 224, 240);
        padding:15px;
        .galeriaKits{
            margin-top: 15px;
            display:flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
            .kits{
                display: flex;
                text-align: center;
                background-color: rgb(200, 214, 232);
                border: 1px solid rgb(20, 53, 244);
                color: #222275;
                width: 320px;
                height: 320px;
                
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                flex-direction: column;
                flex-wrap: wrap;
                align-content: center;
                justify-content:flex-start;
                align-items: center;
                .imgKits{
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;
                   
                    width: 100%;
                    height: 75%;
                        }
                a{
                    display:inline-block;
                    margin-top:2px;
                    text-decoration: none;
                    color: rgb(14, 13, 13);
                    /*background-color: #4a9ed3;*/
                    font-size: 1em;
                    font-weight: bold;
                    border:2px solid #222275;
                    padding:4px;
                    border-radius:5px;
                    
                }
          
          
        }
    
    }
  }
  .varios{
    background-color: #a8bfe4;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 5px;
    .experimenta{
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        img{
            width:30%;
        }
        a{
            padding:10px;
            border-radius: 10px;
            color:white;
            background-color: #2b455c;
            text-decoration: none;
            font-size: 0.80rem;
            cursor: pointer;
        }
    }
    .educacion{
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        img{
            width:50%;
        }
        a{
            padding:10px;
            border-radius: 10px;
            color:white;
            background-color: #2b455c;
            text-decoration: none;
            font-size: 0.80rem;
            cursor: pointer;
        }

    }
    #encontranos{
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        a{
            padding:10px;
            border-radius: 10px;
            color:white;
            background-color: #2b455c;
            text-decoration: none;
            font-size: 0.80rem;
            cursor: pointer;
        }

    }

    h2{
        font-size: 1rem;
    }
    p{
        color:rgb(236, 104, 104);
    }
}
}
/*responsive para el main*/
@media screen and (max-width: 768px){
    .contenedorTextoPrincipalIndex{
        font-size:0.3rem;
    }
}
/*Estilos Footer*/
.footer{
    display:flex;
    background-color: #a6643b80;
    justify-content: space-evenly;/*para que queden espaciados*/
    align-items: center;/*para centrar verticalmente*/
    gap:25px;
    padding-bottom: 25px;
    h3{
        font-size: 1rem;
    }
    .logoFooter{
        width:25%;
        .logo{
            width: 250px;
        }
    }
    .contenidos{
        display: flex;
        width: 25%;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        ul{
            list-style: none;
            width:100%;
            li{
                display:flex;
                flex-direction: column;
                align-items: center;
                a{                    
                    text-decoration:none;
                    color:  #222275;
                    font-size: 1rem;
                }
            }
        }
    }
    .conectateFooter{
        display:flex;
        flex-direction: column;
        align-items: center;
        .centroflex{
            display:flex;
            flex-direction: column;
            justify-content:space-between;
            align-items: center;
            gap:10px;
            width:100%;
            .redes{
                display:flex;
                gap:10px;
                a{
                  text-decoration:none;
                  color:  #222275;
                  font-size: 2rem;
                }

            }
        }
        .suscripcion{
            .formSus{
                margin: 0 auto;
                padding: 20px;
                background-color: #ebf0f0;
                border-radius: 5px;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
                justify-content: center;
                flex-wrap: wrap;
                align-items: center;
                align-content: stretch;
                flex-direction: column;
                .botonSus{
                    background-color:#2b455c;
                    color: #fff;
                    padding: 10px 20px;
                    margin:10px;
                    border: none;
                    border-radius: 3px;
                    cursor: pointer;
                }
            }
        }    
    }
}
.fa-whatsapp{
    color:#25D366;
    font-size: 4em;
    position: fixed;
    bottom: 20px;
    right: 20px;
}
/*Responsive para Footer en pantallas pequeñas*/
@media screen and (max-width: 768px) {
    .footer{
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin: 10px 0;
        font-size: 0.3rem;
    }
}

/* Estilos Formulario*/
.bodyFormulario {
   background-color: #f2f2f2;
   margin-bottom: 20px;
   h1{
    font-size: 1rem;
   }
   h2{
    font-size: 0.5rem;
   }
}

.form {
    background-image: url("../assets/img/despegue1xx.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center center;
    color:#ffffff;
    width: 400px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    margin-top: 10px;
    label {
        display: block;
        margin-bottom: 5px;
    }
    input, textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 3px;
    }
    fieldset{
        padding:8px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    .botonCont {
        background-color:#222275;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        width:70%;
    }
}
.errorForm{
    color:red;
    display:none;
    font-size: 0.5rem;
}
/*Estilos para el mapa de la página de Contactos*/
.mapa{
    display:flex;
    justify-content: center;
    margin: 10px;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    height: 50vh;

    
}

/*estilos Galeria de productos*/
.contenedorKits{
    background-color: rgb(208, 224, 240);
    padding:15px;
    .muestrasKits{
        margin-top: 15px;
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        .productoskits{
            display: flex;
            text-align: center;
            background-color: rgb(200, 214, 232);
            border: 1px solid rgb(20, 53, 244);
            color: #222275;
            width: 320px;
            height: 420px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            flex-direction: column;
            flex-wrap: wrap;
            align-content: center;
            justify-content:flex-start;
            align-items: center;
            .imgKits{
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                width: 100%;
                height: 75%;
                padding:10px;
                    }
            a{
                display:inline-block;
                margin-top:2px;
                text-decoration: none;
                color: rgb(14, 13, 13);
                background-color: #4a9ed3;
                font-size: 1em;
                font-weight: bold;
                padding:4px;
                border-radius:5px;
                
            }
      
      
    }

}
}
/*estilos tabla del carrito*/
/* Título de la sección */
.contCarrito{
    h1{
        margin-bottom: 20px;
        text-align: center;
        color: #333;
        font-size: 2rem;
    }
  }
  
  /* Estilos para la tabla del carrito */
  /* Contenedor principal */
.contCarrito {
    max-width: 800px;
    margin: 40px auto;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  .tabla {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .tabla th, .tabla td {
    padding: 12px 15px;
    text-align: left;
  }
  
  .tabla thead th {
    width:100%;
    background-color: #4c6baf;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 2px solid #ddd;
    tr{
        background-color: #4c6baf;

    }
  }
  
  .tabla tbody tr:hover {
    background-color: #f1f9f1;
  }
  
  .tabla tbody td {
    border-bottom: 1px solid #ddd;
  }
  
  /* Total del carrito */
  .totalC {
    text-align: left;
    h3{
        font-size: 1.5em;
        color: #333; 
        
    }
  }
  .btn-rojo{
    background-color: rgb(231, 64, 64);
    padding:5px;
    color: #fff;
    font-weight: bold;
    border-radius: 10px;
    border:rgb(231, 64, 64);    
  }
  .btn-rojo:hover{
    cursor:pointer;
    background-color:rgb(220, 127, 127) ;

  }